<mat-spinner *ngIf="!ready" class="small"></mat-spinner>
<mat-card *ngIf="ready">

    <mat-card-content>
        <form [formGroup]="form">

            <div class="full-width">
                <mat-form-field class="media-width">
                    <mat-label>Nombre</mat-label>
                    <input autocomplete="off" matInput formControlName="name" maxlength="80">
                    <mat-error *ngIf="form.get('name').hasError('required')">
                        El campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="form.get('name').hasError('minlength')">
                        Debe de tener como mínimo 2 caracteres
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Fecha de Lanzamiento</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="launch">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="form.get('launch').hasError('required')">
                    El campo es obligatorio
                </mat-error>
            </mat-form-field>

            <div class="full-width">
                <mat-form-field class="media-width">
                    <mat-label>Precio</mat-label>
                    <input autocomplete="off" matInput formControlName="price" maxlength="12">
                    <mat-error *ngIf="form.get('price').hasError('required')">
                        El campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="form.get('price').hasError('pattern')">
                        El campo solo recibe valores numéricos con 2 decimales
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="full-width">
                <mat-form-field appearance="fill" style="margin-right: 10px;">
                    <mat-label>Plataforma</mat-label>
                    <mat-select formControlName="platform">
                        <mat-option *ngFor="let type of platform" [value]="type.id">{{ type.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('platform').hasError('required')">
                        El campo es obligatorio
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Idioma</mat-label>
                    <mat-select formControlName="language">
                        <mat-option *ngFor="let type of language" [value]="type.id">{{ type.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('language').hasError('required')">
                        El campo es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" class="btn-action" (click)="save()">
                Guardar
            </button>

        </form>
    </mat-card-content>
</mat-card>