<div class="container-login">
    <h1 id="title-app">ADI Gamer</h1>
    <mat-card>
        <mat-card-content>

            <mat-form-field class="full-width">
                <mat-label>Nro. Documento</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput>
            </mat-form-field>

            <button mat-raised-button color="primary">
                Iniciar Sesión
            </button>

        </mat-card-content>

    </mat-card>
</div>