<div class="navbar primary">
    <div class="nav-container">
        <button mat-flat-button color="primary">Inicio</button>
        <button mat-flat-button [routerLink]="['/app/user']" color="primary">Usuarios</button>
        <button mat-flat-button [routerLink]="['/app/customer']" color="primary">Clientes</button>
        <button mat-flat-button [routerLink]="['/app/provider']" color="primary">Proveedores</button>
        <button mat-flat-button [routerLink]="['/app/game']" color="primary">Videojuegos</button>
        <button mat-flat-button [routerLink]="['/app/kardex']" color="primary">Kardex</button>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>